<%= form_with(model: vacant) do |form| %>
  <% if vacant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vacant.errors.count, "error") %> prohibited this vacant from being saved:</h2>

      <ul>
        <% vacant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :job, "Cargo" %>
    <br>
    <%= form.text_field :job %>
  </div>

  <div class="field">
    <%= form.label :description, "Descripción del Puesto" %>
    <br>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :number_vacancies, "Cantidad de Vacantes" %>
    <br>
    <%= form.number_field :number_vacancies %>
  </div>

  <div class="field">
    <%= form.label :start_salary, "Salario Mínimo del Cargo" %>
    <br>
    <%= form.number_field :start_salary %>
  </div>

  <div class="field">
    <%= form.label :end_salary, "Salario Máximo del Cargo" %>
    <br>
    <%= form.number_field :end_salary %>
  </div>

  <div class="field">
    <%= form.label :start_date, "Fecha de Inicio del Trabajo" %>
    <br>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <p>Región en la que se Desarrollará el Trabajo</p>
    <%= collection_select(:vacant, :region_id, Region.all, :id, :name, prompt: true) %>
  </div>

  <div class="field">
    <p>Modalidad de Trabajo</p>
    <%= collection_select(:vacant, :modality_id, Modality.all, :id, :name, prompt: true) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
