<p id="notice"><%= notice %></p>

<h1>Vacantes Disponibles</h1>
<table>
  <thead>
    <tr>
      <th>Cargo</th>
      <th>Descripción</th>
      <th>Start salary</th>
      <th>End salary</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @vacants.order('created_at DESC').each do |vacant| %>
      <tr>
        <td><h3 class="text-uppercase"><%= vacant.job %></h3></td>
        <td><%= vacant.description %></td>
        <td>$<%= number_with_delimiter(vacant.start_salary) %></td>
        <td>$<%= number_with_delimiter(vacant.end_salary) %></td>
        <td><%= link_to 'Más Detalles', vacant %></td>
        <% if company_signed_in? %>
         <td><%= link_to 'Destroy', vacant, method: :delete, data: { confirm: 'Are you sure?' } %><td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
