<div class="small-container center-block" >

<p>
  <strong>Cargo:</strong>
  <%= @vacant.job %>
</p>

<p>
  <strong>Descripción del Puesto:</strong>
  <%= @vacant.description %>
</p>

<p>
  <strong>Cantidad de Vacantes:</strong>
  <%= @vacant.number_vacancies %>
</p>

<p>
  <strong>Salario Mínimo del Cargo:</strong>
  $ <%= number_with_delimiter(@vacant.start_salary) %>
</p>

<p>
  <strong>Salario Máximo del Cargo:</strong>
  $ <%= number_with_delimiter(@vacant.end_salary) %>
</p>

<p>
  <strong>Fecha de Inicio del Trabajo:</strong>
  <%= @vacant.start_date %>
</p>

<p>
  <strong>id_empresa:</strong>
  <%= @vacant.company_id %>
</p>

<p>
  <strong>Región en la que se Desarrollará el Trabajo:</strong>
  <%= @vacant.region.name %>
</p>

<p>
  <strong>Modalidad de Trabajo:</strong>
  <%= @vacant.modality.name %>
</p>

<p id="notice"><%= notice %></p>
<%if company_signed_in? %>
  <%= link_to 'Editar', edit_vacant_path(@vacant) %>
<%end%>|
<%= link_to 'Ir al Inicio', vacants_path %>

</div>
