<p id="notice"><%= notice %></p>

<p>
  <strong>Job:</strong>
  <%= @vacant.job %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vacant.description %>
</p>

<p>
  <strong>Number vacancies:</strong>
  <%= @vacant.number_vacancies %>
</p>

<p>
  <strong>Start salary:</strong>
  <%= @vacant.start_salary %>
</p>

<p>
  <strong>End salary:</strong>
  <%= @vacant.end_salary %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @vacant.start_date %>
</p>

<p>
  <strong>Company:</strong>
  <%= @vacant.company_id %>
</p>

<p>
  <strong>Region:</strong>
  <%= @vacant.region_id %>
</p>

<p>
  <strong>Modality:</strong>
  <%= @vacant.modality_id %>
</p>

<%= link_to 'Edit', edit_vacant_path(@vacant) %> |
<%= link_to 'Back', vacants_path %>
